In [2]:
%matplotlib inline
import requests
import pandas as pd
import json
import pdb
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from scipy import stats

In [3]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('/Users/flatironschool/Desktop/formations.sqlite')
c = conn.cursor()
#kaggle european soccer data base - find later

In [4]:
c.execute('Select * from Player')
df_2 = pd.DataFrame(c.fetchall())
df_2.columns = [x[0] for x in c.description]

In [5]:
c.execute("""
    SELECT *
    FROM Match
    WHERE country_id = 1729
    AND season = '2015/2016'
""")
df_3 = pd.DataFrame(c.fetchall())
df_3.columns = [x[0] for x in c.description]
df_3.head(1)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,...,None,1.3,5.75,12.0,None,None,None,None,None,None
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,...,None,2.0,3.50,4.2,None,None,None,None,None,None

In [6]:
c.execute("""
    SELECT *
    FROM Match
    WHERE country_id = 1729
    AND season = '2015/2016'
""")
df_3 = pd.DataFrame(c.fetchall())
df_3.columns = [x[0] for x in c.description]
df_3.head(1)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,...,None,1.3,5.75,12.0,None,None,None,None,None,None
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,...,None,2.0,3.50,4.2,None,None,None,None,None,None

In [279]:
c.execute('Select * from Team')
df_4 = pd.DataFrame(c.fetchall())
df_4.columns = [x[0] for x in c.description]
df_4.head(1)

   id  team_api_id  team_fifa_api_id team_long_name team_short_name
0   1         9987             673.0       KRC Genk             GEN

In [8]:
team_id_dict = {}
for team in df_4['team_api_id'].unique():
    team_id_dict[team] = list(df_4.loc[df_4['team_api_id']==team]['team_long_name'])[0]

In [9]:
df_3['home_name'] = df_3['home_team_api_id'].map(team_id_dict)
df_3['away_name'] = df_3['away_team_api_id'].map(team_id_dict)

In [10]:
df_31_list = ['season','home_name','away_name','home_team_goal', 'away_team_goal']
df_31 = df_3[df_31_list]

In [278]:
df_31.head(1)

      season home_name        away_name  home_team_goal  away_team_goal
0  2015/2016   Arsenal  West Ham United               0               2

In [12]:
#df_32=df_3[['home_name','away_name','home_team_goal','away_team_goal','home_player_Y1',
# 'home_player_Y2',
# 'home_player_Y3',
# 'home_player_Y4',
# 'home_player_Y5',
# 'home_player_Y6',
# 'home_player_Y7',
# 'home_player_Y8',
# 'home_player_Y9',
# 'home_player_Y10',
# 'home_player_Y11',
# 'away_player_Y1',
# 'away_player_Y2',
# 'away_player_Y3',
# 'away_player_Y4',
# 'away_player_Y5',
# 'away_player_Y6',
# 'away_player_Y7',
# 'away_player_Y8',
# 'away_player_Y9',
# 'away_player_Y10',
# 'away_player_Y11']]

In [13]:
df_32['home_form']=None
df_32['away_form']=None

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [277]:
df_32.head(1)

,home_name,away_name,home_team_goal,away_team_goal,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,...,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_form,away_form
0,Arsenal,West Ham United,0,2,1,3,3,3,3,6,...,3,3,6,6,6,8,10,10,None,None

In [15]:
#pos_dict={0:'GK',1:'GK',2:'D',3:'D',4:'D',5:'M',6:'M',7:'M',8:'A',9:'F',10:'F',11:'F'}

In [16]:
#df_33 = df_32.drop(['home_name','away_name','home_team_goal','away_team_goal','home_form','away_form'],axis=1)

In [17]:
#df_34 = df_33.applymap(lambda x: pos_dict[x])

In [276]:
df_34.head(1)

,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,...,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11
0,GK,D,D,D,D,M,M,A,A,A,...,D,D,D,D,M,M,M,A,F,F

In [25]:
#df_35 = df_32.copy()

In [275]:
#df_35.head()

In [34]:
#df_35=df_32[['home_name','away_name','home_team_goal','away_team_goal']]

In [79]:
#df_35['h1']=df_34['home_player_Y1']
#df_35['h2']=df_34['home_player_Y2']
#df_35['h3']=df_34['home_player_Y3']
#df_35['h4']=df_34['home_player_Y4']
#df_35['h5']=df_34['home_player_Y5']
#df_35['h6']=df_34['home_player_Y6']
#df_35['h7']=df_34['home_player_Y7']
#df_35['h8']=df_34['home_player_Y8']
#df_35['h9']=df_34['home_player_Y9']
#df_35['h10']=df_34['home_player_Y10']
#df_35['h11']=df_34['home_player_Y11']
#df_35['a1']=df_34['away_player_Y1']
#df_35['a2']=df_34['away_player_Y2']
#df_35['a3']=df_34['away_player_Y3']
#df_35['a4']=df_34['away_player_Y4']
#df_35['a5']=df_34['away_player_Y5']
#df_35['a6']=df_34['away_player_Y6']
#df_35['a7']=df_34['away_player_Y7']
#df_35['a8']=df_34['away_player_Y8']
#df_35['a9']=df_34['away_player_Y9']
#df_35['a10']=df_34['away_player_Y10']
#df_35['a11']=df_34['away_player_Y11']

In [274]:
df_35.head(1)

,home_name,away_name,home_team_goal,away_team_goal,h1,h2,h3,h4,h5,h6,...,a4,a5,a6,a7,a8,a9,a10,a11,home_form,away_form
0,Arsenal,West Ham United,0,2,GK,D,D,D,D,M,...,D,D,M,M,M,A,F,F,None,None

In [39]:
#df_35['home_form']=None
#df_35['away_form']=None
#df_35.head(2)

In [189]:
#USE TRY-EXCEPT FOR "FOREIGN FORMATIONS"
formation_dict={('GK','D','D','D','D','M','M','M','F','F','F'):1,('GK','D','D','D','M','M','M','M','M','F','F'):2,
                ('GK','D','D','D','M','M','M','A','A','F','F'):3,('GK','D','D','D','M','M','M','M','A','F','F'):4,
                ('GK','D','D','D','M','M','A','A','F','F','F'):5,('GK','D','D','D','M','M','M','M','A','A','F'):6,
                ('GK','D','D','D','M','M','M','M','F','F','F'):7,('GK','D','D','D','D','M','M','M','M','F','F'):8,
                ('GK','D','D','D','D','M','M','M','A','F','F'):9,('GK','D','D','D','D','M','M','M','A','A','F'):10,
                ('GK','D','D','D','D','M','M','A','A','F','F'):11,('GK','D','D','D','D','M','M','M','M','A','F'):12,
                ('GK','D','D','D','D','M','M','A','A','A','F'):13,('GK','D','D','D','D','M','M','F','F','F','F'):14,
                ('GK','D','D','D','D','M','M','A','F','F','F'):15,('GK','D','D','D','D','M','M','M','M','M','F'):16,
                ('GK','D','D','D','D','D','M','D','A','F','F'):17,('GK','D','D','D','D','D','M','M','M','M','F'):18,
                ('GK','D','D','D','D','D','M','M','M','F','F'):19,('GK','D','D','D','D','D','M','M','F','F','F'):20,
                ('GK','D','D','D','D','M','M','M','F','M','F'):21,('GK','D','D','D','D','M','A','M','A','A','F'):21,
                ('GK','D','D','D','D','M','A','A','M','A','F'):21,('GK','D','D','D','D','M','M','F','M','M','F'):21,
                ('GK','D','D','D','D','A','M','M','A','A','F'):21,('GK','D','D','D','D','M','A','A','A','M','F'):21,
                ('GK', 'D', 'D', 'D', 'D', 'M', 'A', 'A', 'A', 'A', 'F'):21,
                ('GK', 'D', 'D', 'D', 'D', 'M', 'A', 'A', 'F', 'F', 'F'):21}

In [273]:
df_35.head(1)

,home_name,away_name,home_team_goal,away_team_goal,h1,h2,h3,h4,h5,h6,...,a4,a5,a6,a7,a8,a9,a10,a11,home_form,away_form
0,Arsenal,West Ham United,0,2,GK,D,D,D,D,M,...,D,D,M,M,M,A,F,F,None,None

In [272]:
#df_36 = df_35.applymap()
#formation_dict
#(df_35.iloc[1:2,4:15])

In [192]:
#h_list = []
#a_list = []
#for value in df_35.index:
    #h_list.append((df_35.loc[value,'h1'],df_35.loc[value,'h2'],df_35.loc[value,'h3'],df_35.loc[value,'h4'],df_35.loc[value,'h5'],df_35.loc[value,'h6'],df_35.loc[value,'h7'],df_35.loc[value,'h8'],df_35.loc[value,'h9'],df_35.loc[value,'h10'],df_35.loc[value,'h11']))
    #a_list.append((df_35.loc[value,'a1'],df_35.loc[value,'a2'],df_35.loc[value,'a3'],df_35.loc[value,'a4'],df_35.loc[value,'a5'],df_35.loc[value,'a6'],df_35.loc[value,'a7'],df_35.loc[value,'a8'],df_35.loc[value,'a9'],df_35.loc[value,'a10'],df_35.loc[value,'a11']))

In [271]:
#print(h_list[0],'\n')
#print(a_list[0])

In [270]:
#df_36 = df_35.copy()
df_36.head(1)

,home_name,away_name,home_team_goal,away_team_goal,h1,h2,h3,h4,h5,h6,...,a4,a5,a6,a7,a8,a9,a10,a11,home_form,away_form
0,Arsenal,West Ham United,0,2,GK,D,D,D,D,M,...,D,D,M,M,M,A,F,F,"(GK, D, D, D, D, M, M, A, A, A, F)","(GK, D, D, D, D, M, M, M, A, F, F)"

In [155]:
#for i in range(len(h_list)):
#    df_36['home_form'][i]=h_list[i]
#for i in range(len(a_list)):
#    df_36['away_form'][i]=a_list[i]

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [159]:
#df_37=df_36[['home_name','away_name','home_team_goal','away_team_goal','home_form','away_form']]

In [269]:
df_37.head(1)

,home_name,away_name,home_team_goal,away_team_goal,home_form,away_form
0,Arsenal,West Ham United,0,2,"(GK, D, D, D, D, M, M, A, A, A, F)","(GK, D, D, D, D, M, M, M, A, F, F)"

In [268]:
#df_38 = df_37[['home_form','away_form']]

In [267]:
df_38.head(1)

                            home_form                           away_form
0  (GK, D, D, D, D, M, M, A, A, A, F)  (GK, D, D, D, D, M, M, M, A, F, F)

In [184]:
# 21 is our wild card

In [193]:
#df_39 = df_38.applymap(lambda x: formation_dict[x])

In [266]:
df_39.head(1)

   home_form  away_form
0         13          9

In [265]:
#df_40=df_37[['home_name','away_name','home_team_goal','away_team_goal']]

In [208]:
df_40['home_form']=df_39['home_form']
df_40['away_form']=df_39['away_form']

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [210]:
#df_40['win_team']=None

In [211]:
#for i in range(len(df_40)):
#    if (df_40['home_team_goal'][i]>df_40['away_team_goal'][i]):
#        df_40['win_team'][i]=df_40['home_name'][i]
#    elif (df_40['home_team_goal'][i]==df_40['away_team_goal'][i]):
#        df_40['win_team'][i]='draw'
#    else:
#        df_40['win_team'][i]=df_40['away_name'][i]

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [214]:
#df_40['win_form']=None
#df_40['lose_form']=None

In [217]:
#for i in range(len(df_40)):
#    if (df_40['win_team'][i]==df_40['home_name'][i]):
#        df_40['win_form'][i]=df_40['home_form'][i]
#        df_40['lose_form'][i]=df_40['away_form'][i]
#    elif df_40['win_team'][i]==df_40['away_name'][i]:
#        df_40['win_form'][i]=df_40['away_form'][i]
#        df_40['lose_form'][i]=df_40['home_form'][i]
#    elif (df_40['win_team'][i]=='draw'):
#        df_40['win_form'][i]='draw'
#        df_40['lose_form'][i]='draw'

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [263]:
df_40.head(2)

,home_name,away_name,home_team_goal,away_team_goal,home_form,away_form,win_team,win_form,lose_form
0,Arsenal,West Ham United,0,2,13,9,West Ham United,9,13
1,Bournemouth,Aston Villa,0,1,8,1,Aston Villa,1,8

In [303]:
#df_no_draw = df_40[df_40['win_team']!='draw']
# also filtering out formation 21
#df_nd21=df_no_draw[(df_no_draw['win_form']!=21)&(df_no_draw['lose_form']!=21)]b
df_nd21.shape

(241, 9)

In [301]:
print(dict(df_nd21.win_form.value_counts()))
print('')
print(dict(df_nd21.lose_form.value_counts()))

{13: 155, 8: 59, 1: 12, 7: 5, 9: 4, 10: 2, 2: 2, 16: 1, 11: 1}

{13: 142, 8: 53, 1: 27, 16: 5, 18: 3, 10: 3, 7: 3, 19: 2, 2: 2, 9: 1}

In [262]:
form_win_dict={13:155/297,8:59/112,1:27/39,7:5/8,9:4/5,10:2/3,2:2/2,16:1/6,11:1/1,18:0/3,19:0/2}

In [247]:
#df_nd21_13_focus =df_nd21[(df_nd21.home_form == 13)|(df_nd21.away_form ==13)]

In [294]:
formation_win_list = list(form_win_dict.keys())
percent_win_list = list(form_win_dict.values())
df_form_win=pd.DataFrame()
df_form_win['formation']=formation_win_list
df_form_win['percent']=percent_win_list

In [308]:
df_form_win.head(3)

   formation   percent
0         13  0.521886
1          8  0.526786
2          1  0.692308

In [305]:
df_nd21.head()

,home_name,away_name,home_team_goal,away_team_goal,home_form,away_form,win_team,win_form,lose_form
0,Arsenal,West Ham United,0,2,13,9,West Ham United,9,13
1,Bournemouth,Aston Villa,0,1,8,1,Aston Villa,1,8
4,Leicester City,Sunderland,4,2,7,1,Leicester City,7,1
5,Manchester United,Tottenham Hotspur,1,0,13,13,Manchester United,13,13
7,Norwich City,Crystal Palace,1,3,16,8,Crystal Palace,8,16